@mixin h1 () {
    font: {
        family: Montserrat, sans-serif;
        style: normal;
        weight: bold;
        size: 42px;
    }
    text-transform: uppercase;
    color: var(--main-color);
    @include screen-max ($sm) {
        font-size: 25px;
    }
}

@mixin h2 () {
    font: {
        family: Montserrat, sans-serif;
        style: normal;
        weight: 300;
        size: 25px;
    }
    text-transform: uppercase;
    line-height: 25px;
    color: var(--main-color);
    @include screen-max ($hd) {
        font-size: 18px;
    }
    @include screen-max ($sm) {
        font-size: 10px;
    }
}

@mixin h3 () {
    font: {
        family: Montserrat, sans-serif;
        style: normal;
        weight: 300;
        size: 20px;
    }
    text-transform: uppercase;
    line-height: 20px;
    color: var(--main-color);
    @include screen-max ($hd) {
        font-size: 15px;
    }
    @include screen-max ($sm) {
        font-size: 10px;
    }
}

@mixin h4 () {
    font: {
        family: Montserrat, sans-serif;
        style: normal;
        weight: bold;
        size: 15px;
    }
    text-transform: uppercase;
    line-height: 15px;
    color: var(--main-color);
    // @include screen-max ($hd) {
    //     font-size: 18px;
    //  }
    @include screen-max ($sm) {
        font-size: 7px;
    }
}