.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 760px;
    justify-content: center;
    transition: 2s display;
    @include screen-max ($lg) {
        height: 100%;
        margin-top: 50px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
        position: relative;
        @include screen-max ($sm) {
            margin-bottom: 10px;
        }
        &-title {
            @include h4 ();
            font-weight: 700;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            width: 350px;
            @include screen-max ($lg) {
                font-size: 13px;
                width: 250px;
            }
            @include screen-max ($sm) {
                margin-bottom: 0px;
            }
        }
        &-price {
            @include h2 ();
            font-size: 20px;
            text-transform: none;
            line-height: 18px;
            font-weight: 700;
            display: flex;
            align-items: center;
            width: 350px;
            &:not(:last-child) {
                border-bottom: solid 1px rgb(235, 236, 236);
            }
            padding: 20px 0;
            span {
                @include h4 ();
                font-weight: 300;
                text-transform: none;
                @include screen-max ($lg) {
                    font-size: 13px;
                }
            }
            @include screen-max ($hd) {
                font-size: 18px;
                justify-content: space-between;
            }
            @include screen-max ($lg) {
                font-size: 13px;
                width: 250px;
            }
            @include screen-max ($sm) {
                width: 250px;
            }
        }
        &-button {
            border-radius: 10px;
            background-color: rgb(76, 107, 177);
            @include h4 ();
            color: white;
            display: flex;
            justify-content: center;
            padding: 13px 25px;
            margin-left: auto;
            border: none;
            outline: none;
            position: relative;
            @include screen-max ($hd) {
                font-size: 13px;
                padding: 13px 20px;
            }
            @include screen-max ($lg) {
                font-size: 10px;
                padding: 7px 15px;
            }
            transition: 0.5s ease-out;
            &:hover {
                background-color: #25458e;
            }
        }
    }
}
  