.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 760px;
    justify-content: center;
    @include screen-max ($lg) {
        display: none;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
        &-title {
            @include h4 ();
            font-weight: 700;
            margin-bottom: 15px;
        }
        &-price {
            @include h2 ();
            font-size: 20px;
            text-transform: none;
            line-height: 18px;
            font-weight: 700;
            display: flex;
            align-items: center;
            &:not(:last-child) {
                border-bottom: solid 1px rgb(235, 236, 236);
            }
            padding: 25px 0;
            span {
                @include h4 ();
                font-weight: 300;
                text-transform: none;
            }
        }
        &-button {
            border-radius: 10px;
            background-color: rgb(76, 107, 177);
            @include h4 ();
            color: white;
            display: flex;
            justify-content: center;
            padding: 15px 30px;
            margin-left: 110px;
            @include screen-max ($hd) {
                font-size: 13px;
                padding: 13px 20px;
                margin-left: 80px;
            }
        }
    }
}
  