#form {
    background-image: url(../images/form.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-color: #fbfbfb;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    height: 100vh;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    @include screen-max ($lg) {
        box-shadow: inset 0 0 0 1000em rgba(255,255,255,.452);
    }
}

.form {
    display: flex;
    width: 100%;
    padding: 230px 0 100px;
    @include screen-max ($hd) {
        padding: 120px 0 50px;
    }
    &-active {
        top: 0;
        right: 0;
        width: 100%;
        position: absolute;
        z-index: 5;
        opacity: 1 !important;
        visibility: initial !important;
        pointer-events: initial !important;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        position: relative;
        &-title {
            @include h1 ();
            margin-bottom: 30px;
            font-weight: 300;
            font-size: 30px;
            padding-left: 10px;
        }
        &-button {
            margin-top: 100px;
        }
    }
}

.sendForm {
    width: 315px;
    @include screen-max ($sm) {
        width: 100%;
    }
    &__input {
        position: relative;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        & label {
            position: absolute;
            left: 42px;
            top: 50%;
            transform: translateY(-50%);    
            letter-spacing: 0.01em;
            transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
            color: black;
        }
        img {
            width: 20px;
            height: 20px;  
            position: absolute;
            left: 10px;
        }
        input {
            background: none;
            width: 100%;
            height: 100%;
            border: none;
            padding: 10px 40px;
            outline: none;
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            cursor: pointer;
            &:focus + label {
                color: rgb(49, 47, 47);
            }
            &:focus + label,
            &:not(:placeholder-shown) + label {
                font-size: 12px;
                line-height: 1.17;
                transform: translate(-26px, -36px);
            }
        }
    }
}

.close {
    position: absolute;
    right: -60px;
    top: -30px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    transition: 0.2s ease-out;
    &:hover {
        opacity: 1;
    }
    &::before {
        transform: rotate(45deg);
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 3px;
        background-color: #333;
    }
    &::after {
        transform: rotate(-45deg);
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 3px;
        background-color: #333;
    }
    cursor: pointer;
}


.hidden {
    display: none;
}