.tlc {
    position: absolute;
    display: flex;
    flex-direction: column;
    &__orsha {
        left: 710px;
        top: 455px;
        align-items: flex-start;
        @include screen-max ($hd) {
            left: 490px;
            top: 339px;
            font-size: 10px;
        }
        @include screen-max ($lg) {
            left: 0;
            top: 332px;
        }
        @include screen-max ($sm) {
            top: 130px;
        }
    }
    &__bruzgi {
        left: 366px;
        top: 548px;
        @include screen-max ($hd) {
            left: 314px;
            top: 387px;
        }
        @include screen-max ($lg) {
            left: 0;
            top: 275px;
        }
        @include screen-max ($sm) {
            top: 185px;
        }
    }
    &__berestovica {
        left: 374px;
        top: 584px;
        @include screen-max ($hd) {
            left: 323px;
            top: 412px;
        }
        @include screen-max ($lg) {
            left: 0;
            top: 220px;
        }
        @include screen-max ($sm) {
            top: 240px;
        }
    }
    &__label, &__description {
        align-items: center;
        @include h4 ();
        font-weight: 400;
        padding: 3px 10px 3px 5px;
        border: 1px solid rgb(76, 107, 177);
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 9.9px 0.1px rgba(224, 223, 223, 0.77);
        width: fit-content;
        img {
            margin-right: 5px;
            width: 25px;
            height: 25px;
            @include screen-max ($hd) {
                width: 15px;
                height: 15px;
            }
        }
        @include screen-max ($hd) {
            font-size: 10px;
        }
    }    
    &__label {
        display: flex; 
        transition: 0.5s background-color 1s transform;
        &:hover {
            background-color: rgb(76, 107, 177);
            transform: scale(1.1);
            color: white;
        }
        @include screen-max ($hd) {
            width: 210px;
            font-size: 10px;
        }
        @include screen-max ($lg) {
            font-size: 15px;
        }
    }
    &__description {
        flex-direction: column;
        align-items: flex-start;
        font-weight: 600;
        padding: 5px 70px 5px 10px;
        margin-top: 10px;
        z-index: 2;
        &-item {
            margin-bottom: 20px;
            line-height: 20px;
            &:nth-child(n+3) {
                margin-bottom: 10px;
            }
            span {
                font-weight: 400;
            }
        }
    }
}

  
  