.tlc {
    position: absolute;
    display: flex;
    flex-direction: column;
    
    &__orsha {
        left: 695px;
        top: 450px;
        align-items: flex-start;
    }
    &__bruzgi {
        left: 355px;
        top: 540px;
        align-items: flex-end;
    }
    &__berestovica {
        left: 368px;
        top: 578px;
        align-items: flex-end;
    }
    &__label, &__description {
        display: none;
        align-items: center;
        @include h4 ();
        font-weight: 400;
        padding: 3px 10px 3px 5px;
        border: 1px solid rgb(76, 107, 177);
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 9.9px 0.1px rgba(224, 223, 223, 0.77);
        margin-bottom: 10px;
        width: fit-content;
        img {
            margin-right: 5px;
            width: 18px;
            height: 13px;
        }
    }    
    &__label {
        display: flex;
         &:hover {
             &~ .tlc__description {
                display: initial;
             }
        }
    }
    &__description {
        flex-direction: column;
        align-items: flex-start;
        font-weight: 600;
        padding: 5px 70px 5px 10px;
        z-index: 2;
        &-item {
            margin-bottom: 20px;
            line-height: 20px;
            &:nth-child(n+3) {
                margin-bottom: 10px;
            }
            span {
                font-weight: 400;
            }
        }
    }
}

  
  