.slider {
    position: relative;
    overflow: hidden;
    &__wrapper {
        display: flex;
        transition: transform 0.6s ease;
    }
    &__item {
        flex: 0 0 100%;
        max-width: 100%;
        &-pic {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 780px;
        }
        div {
            line-height: 250px;
            font-size: 100px;
            text-align: center;
        }
    }
    &__control {
        position: absolute;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        color: #fff;
        text-align: center;
        opacity: 0.5;
        height: 50px;
        transform: translateY(-50%);
        background: white;
        border-radius: 10px;
        &-left {
            left: 15px;
            &::before {
            background-image: url(../images/left-dark.svg);
            }
        }
        &-right {
            right: 15px;
            &::before {
            background-image: url(../images/right-dark.svg);
            }
        }
        &:hover, :focus {
            color: #fff;
            text-decoration: none;
            outline: 0;
            opacity: .9;
        }
        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px; 
            background-size: 100% 100%;
        }
    }
}