#banner {
    background-image: url(../images/banner.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #fbfbfb;
}

.banner {
    display: flex;
    width: 100%;
    padding: 320px 0 100px;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        &-title {
            @include h1 (); 
            margin-bottom: 30px;
        }
        &-subtitle {
            @include h3 (); 
        }
        &-button {
            margin-top: 100px;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    @include h1 ();
    padding: 100px 0 0 0;
    &__title {
        margin-bottom: 80px;
    }
    &__content {
        display: flex;
        align-items: center;
        &-img {
            margin-right: 150px;
            // background-color: #dadada38;
            width: 430px;
            height: 590px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__points {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 560px;
            &-point {
                &:not(:first-child) {
                    margin-top: 80px;
                }
                display: flex;
                justify-content: space-between;
                p {
                    margin-left: 40px;
                    @include h2 ();
                }
                img {
                    width: 70px; 
                    height: 70px;
                }
            }
        }
    }
}

.network {
    display: flex;
    flex-direction: column;
    justify-content: start;
    @include h1 ();
    padding: 100px 0 0 0;
    &__title {
        margin-bottom: 80px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-map {
            background-color: #dadada38;
            width: 1140px;
            height: 630px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;
        }
        &__points {
            display: flex;
            flex-direction: column;
            &-row {
                display: flex;
                justify-content: space-around;
                // &:not(:last-child) {
                margin-bottom: 100px;
            }
            &-point {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 230px;
                p {
                    @include h4 ();
                    font-weight: 300;
                    display: flex;
                    text-align: center;
                    margin-top: 50px;
                }
            }
        }
    }
}

.slider {
    border-radius: 5px;
}

.tarrifs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    @include h1 ();
    padding: 100px 0 0 0;
    &__title {
        margin-bottom: 80px;
    }
    &__content {
        display: flex;
        align-items: center;
    }
}

.proms {
    display: flex;
    flex-direction: column;
    justify-content: start;
    @include h1 ();
    padding: 100px 0 100px 0;
    &__title {
        margin-bottom: 80px;
    }
    &__content {
        display: flex;
        align-items: center;
        &-img {
            margin-left: 150px;
            // background-color: #dadada38;
            width: 430px;
            height: 590px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__points {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 560px;
            &-point {
                &:not(:first-child) {
                    margin-top: 80px;
                }
                display: flex;
                justify-content: space-between;
                p {
                    margin-left: 40px;
                    @include h2 ();
                }
                img {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
}

#questions {
    background-image: url(..\images\banner_qst.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.questions {
    display: flex;
    width: 100%;
    padding: 150px 0 100px;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        &-title {
            @include h1 (); 
            margin-bottom: 80px;
            color: white;
        }
        &-subtitle {
            @include h3 ();
            width: 450px; 
            text-transform: inherit;
            color: white;
        }
        &-button {
            margin-top: 100px;
            color: white;
            border-color: white;
            .arrow {
                background-color: white;

            }
        }
    }
}

#video {
    padding: 100px 0;
}

.video {
    display: block;
    width: 100%;
}

.contacts__content-map {
    width: 100%;
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: 20px 0 100px 0;
}

.contacts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    &__title {
        @include h1 ();
        margin-bottom: 80px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        &__points {
            display: flex;
            margin-left: auto;
            &-point {
                @include h4 ();
                padding-left: 20px;
                font-weight: 300;
                &:not(:last-child) {
                    border-right: solid 1px lightgray;
                    padding-right: 20px;
                    margin-bottom: 60px;
                }
                span {
                    display: block;
                    @include h4 ();
                    font-weight: 700;
                    margin-bottom: 20px;
                }
            }
        }   
    }
}