.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0; 
    position: relative;
    @include screen-max ($hd) {
        width: 860px;
    }
    @include screen-max ($lg) {
        width: 380px;
    }
    @include screen-max ($sm) {
        width: 240px;
    }
}

:root {
    --main-color: #2d313a;
  }

.hidden {
    display: none;
}

.active {
    background-color: #f5f5f5;
    border: 1px solid;
    & > .arrow {
        transform: rotate(90deg);
        transition: 0.5s ease-out;
    }
}